---
import Layout from '@layouts/Layout.astro';
import { actions } from 'astro:actions';
import { Heart, Clipboard  } from 'lucide-astro';

const result = Astro.getActionResult(actions.createHaiku);

---

<Layout title=''>
    <div class="max-w-md mx-auto">

        <form method="POST" action={actions.createHaiku} class="space-y-4">
            <input type="text" name="text" class="input input-bordered w-full" required>
            <button class="btn btn-primary">Write</button>
        </form>

        <section class="mt-16">
            {result && !result.error && (
                <div class="space-y-8">
                    {result.data.poems.map((poem, index) => (
                        <div class="text-lg">
                            <p class="whitespace-pre-line">{poem}</p>
                            <div class="card-actions mt-4">
                                <button class="btn btn-square btn-sm"><Heart class="size-5"/> </button>
                                <button class="btn btn-square btn-sm"><Clipboard class="size-5"/> </button>
                            </div>
                        </div>
                    ))}
                </div>
            )}
        </section>

    </div>
</Layout>
