---
import Layout from '../layouts/Layout.astro';
import Landing from '@components/Landing.md'
import { actions } from 'astro:actions';
---

<Layout>
	<main>
		<div class="hero py-24 bg-base-200 rounded-lg">
			<div class="hero-content text-center">
			  <div class="max-w-md">
				<h1 class="text-5xl font-bold">Generate Beautiful Haiku Instantly</h1>
				<p class="py-6">
					Unleash your creativity and craft timeless haiku poems effortlessly. Haikumaker helps you find the perfect words to capture fleeting moments in just 17 syllables.
				</p>
				<form method="POST" action={ '/generator' + actions.createHaiku}  class="text-center space-y-4">
					<input type="text" name="text" class="input input-bordered w-full" required>
					<button class="btn btn-primary btn-lg forn-bold">Write</button>
				</form>
			  </div>
			</div>
		  </div>
	</main>
	<article class="prose prose-xl mt-16">
		<Landing/>
	</article>
</Layout>

