---
import {Sparkles} from 'lucide-astro'
interface Props {
	action: string;
}

const { action } = Astro.props;
---


<form method="POST" action={action}  class="space-y-2">
    <label for="text" class="block font-semibold">Inspiration for haiku:
        <input type="text" name="text" class="input input-warning input-bordered w-full" placeholder="Word or phrase that inspires your haiku.." required>
    </label>
    <div class="text-center">
        <button class="btn btn-error fort-bold text-white"><Sparkles/>Write</button>
    </div>
</form>