---
import Header from '@components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { 
	title = 'Create Beautiful Haiku Poems Effortlessly Online - Haikumaker', 
	description = "Compose haiku poems in seconds with Haikumaker. Whether it's a haiku for flowers, autumn, or spring, our easy-to-use platform helps you capture fleeting moments in classic 5-7-5 form."
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
	</head>
	<body class="w-full max-w-screen-md mx-auto px-4">
		<Header/>
		<slot />
	</body>
</html>

